<?xml version="1.0" encoding="utf-8"?>
<manifest package="org.shenkar.auval.codesamples"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- android:theme is used when an activity doesn't override it -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Lesson2Activity"/>
        <activity android:name=".BooActivity"/>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ActionbarExampleActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"/>
        <activity
            android:name=".SqlExample"
            android:label="@string/title_activity_sql_example"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.shenkar.auval.codesamples.MainActivity"/>
        </activity>
        <activity android:name=".SceneTransitionActivity"/>
        <activity android:name=".LowLeverGraphicsActivity"/>
        <activity android:name=".BmpAndSvgActivity"/>
        <activity android:name=".SpriteAnimationActivity"/>
        <activity
            android:name=".SvgViewsActivity"
            android:screenOrientation="landscape"/>
    </application>

</manifest>